<div class='panel panel-primary'>
    <div class='panel-heading'>
        Sample File Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addFile()">Add Sample File</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='files && files.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='files && files.length'>
                <thead>
                    <tr>
                        <th>File ID</th>
                        <th>Company Name</th>
                        <th>File Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let myfile of files">
                        <td>{{myfile.FID}}</td>
                        <td>{{myfile.Cname}}</td>
                        <td>{{myfile.Fname}}</td>
                        <td><a target="_blank" href="http://www.freespace.com.au/filehosting1/SFc/IESL.pdf">Click Here</a> </td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editFile(myfile.FID)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteFile(myfile.FID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
        <router-outlet></router-outlet>
    </div>
    <router-outlet name="sidemenu"></router-outlet>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(fileFrm)" [formGroup]="fileFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="col-md-4">
                    <span>Company *</span>
                    <select class="form-control">
                        <option value="0">--Select--</option>
                        <option *ngFor="let com of companies" [value]="com.CID">
                            {{com.CName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span>Share Type *</span>
                    <select class="form-control">
                        <option value="0">--Select--</option>
                        <option *ngFor="let st of sharetypes" [value]="st.ShareValue">
                            {{st.ShareName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span>Share Offer Code *</span>
                    <select class="form-control">
                        <option value="0">--Select--</option>
                        <option *ngFor="let soc of shareoffercodes" [value]="soc.ShareValue">
                            {{soc.Offername}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <span>Company name*</span>
                    <input type="text" class="form-control" placeholder="Company Name" formControlName="Cname">
                </div>
                <div>
                    <span>File name*</span>
                    <input type="text" class="form-control" placeholder="File Name" formControlName="Fname">
                </div>

                <div class="col-md-4">
                    <span>Upload File</span>
                    <input type="file" class="form-control" (change)="getFileDetails($event)" placeholder="Upload file" formControlName="FILEADD" accept=".pdf,.doc,.docx">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="fileFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>