<div class='panel panel-primary'>
    <div class='panel-heading'>
        Sample File With Data
    </div>


    <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">
        <textarea [froalaEditor] formControlName="formModel"></textarea>
        <button type="submit">Submit</button>
    </form>-->

    <div class='panel-body'>
        <div class='table-responsive'>
            <div>
                <div class="row">
                    <div>
                        <search-list [title]='searchTitle' (change)="criteriaChange($event)"></search-list>
                    </div>
                    <div class="col-md-4">
                        <span>Company *</span>
                        <select class="form-control" (change)="criteriaChange($event)">
                            <option value="0">--Select--</option>
                            <option *ngFor="let com of companies" [value]="com.CName">
                                {{com.CName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span>Share Type *</span>
                        <select class="form-control" (change)="criteriaChange($event)">
                            <option value="0">--Select--</option>
                            <option *ngFor="let st of sharetypes" [value]="st.ShareName">
                                {{st.ShareName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span>Share Offer Code *</span>
                        <select class="form-control" (change)="criteriaChange($event)">
                            <option value="0">--Select--</option>
                            <option *ngFor="let soc of shareoffercodes" [value]="soc.Offername">
                                {{soc.Offername}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='files && files.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='files && files.length'>
                <thead>
                    <tr>
                        <th>File ID</th>
                        <th>Company Name</th>
                        <th>Share Type</th>
                        <th>Share Offer Code</th>
                        <th>File Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let myfile of files | sampleFileFilter:listFilter">
                        <td>{{myfile.FID}}</td>
                        <td>{{myfile.Cname}}</td>
                        <td>{{myfile.ShareType}}</td>
                        <td>{{myfile.OfferCode}}</td>
                        <td>{{myfile.Fname}}</td>
                        <td><span class="label label-primary">{{myfile.ApprovalStatus}}</span></td>
                        <td><a target="_blank" href="http://www.freespace.com.au/filehosting1/SFc/IESL.pdf">Click Here</a> </td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editFile(myfile.FID)" *ngIf="!isAdmin" [disabled]="HideEditDeleteButtonByStatus(myfile.ApprovalStatus)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteFile(myfile.FID)" *ngIf="!isAdmin" [disabled]="HideEditDeleteButtonByStatus(myfile.ApprovalStatus)">Delete</button>
                            <button title="View" class="btn btn-info" (click)="ViewFilePOPUP(myfile.FID)" *ngIf="isAdmin" [disabled]="HideApproveSampleButtonByStatus(myfile.ApprovalStatus)">Approve Sample</button>
                            <button title="Generate Proof" class="btn btn-danger" (click)="generateProofPOPUP(myfile.FID)" *ngIf="!isAdmin" [disabled]="HideGenerateProofButtonByStatus(myfile.ApprovalStatus)">Generate Proof</button>
                            <button title="View Proof" class="btn btn-danger" (click)="ViewProofPOPUP(myfile.FID)" *ngIf="isAdmin" [disabled]="HideApproveProofButtonByStatus(myfile.ApprovalStatus)">Approve Proof</button>
                            <button title="Final Print" class="btn btn-danger" (click)="FinalPrintPOPUP(myfile.FID)" *ngIf="!isAdmin" [disabled]="HideFinalPrintButtonByStatus(myfile.ApprovalStatus)">Final Print</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addFile()">Add Sample File</button></div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
        <router-outlet></router-outlet>
    </div>
    <router-outlet name="sidemenu"></router-outlet>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(fileFrm)" [formGroup]="fileFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="col-md-4">
                    <span>Company *</span>
                    <select class="form-control" formControlName="Cname">
                        <option value="0">--Select--</option>
                        <option *ngFor="let com of companies" [value]="com.CName">
                            {{com.CName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span>Share Type *</span>
                    <select class="form-control" formControlName="ShareType">
                        <option value="0">--Select--</option>
                        <option *ngFor="let st of sharetypes" [value]="st.ShareName">
                            {{st.ShareName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <span>Share Offer Code *</span>
                    <select class="form-control" formControlName="OfferCode">
                        <option value="0">--Select--</option>
                        <option *ngFor="let soc of shareoffercodes" [value]="soc.Offername">
                            {{soc.Offername}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <span>File name*</span>
                    <input type="text" class="form-control" placeholder="File Name" formControlName="Fname">
                </div>

                <div class="col-md-4">
                    <span>Upload File</span>
                    <input type="file" class="form-control" (change)="getFileDetails($event)" placeholder="Upload file" formControlName="FILEADD" accept=".csv">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="fileFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>

<modal #mymodalID>
    <form novalidate [formGroup]="fileFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <label>Company: </label>
                            <label>{{file?.Cname}}</label>
                        </div>
                        <div class="col-md-6">
                            <label>Share Type: </label>
                            <label>{{file?.ShareType}}</label>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <label>Share Offer Code: </label>
                            <label>{{file?.OfferCode}}</label>

                        </div>
                        <div class="col-md-6">
                            <label>File Name:</label>
                            <label>{{file?.Fname}}</label>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <a href="#">Click Me</a>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div>
                            <span>Approver Comment*</span>
                            <input type="text" class="form-control" formControlName="ApprovalComment">
                        </div>
                    </div>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <button type="submit" class="btn btn-success" (click)="ApproveSampleFile(fileFrm)" [disabled]="fileFrm.invalid">Approve</button>
                <button type="submit" class="btn btn-danger" (click)="RejectSampleFile(fileFrm)" [disabled]="fileFrm.invalid">Reject</button>
                <a class="btn btn-default" (click)="mymodalID.dismiss()">Cancel</a>
            </div>
        </modal-footer>
    </form>
</modal>

<modal #mygenerateProof>
    <form novalidate [formGroup]="fileFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="form-group">
                    <div>
                        <input type="radio" name="ChequeOption" value="CUSTOMERCHEQUE" formControlName="ChequeOption">CUSTOMER CHEQUE
                        <input type="radio" name="ChequeOption" value="BANKCHEQUE" formControlName="ChequeOption">BANK CHEQUE
                    </div>

                </div>
                <div class="col-md-12 row">
                    <div>
                        <textarea class="form-control col-md-12" [(ngModel)]="templateVal" formControlName="Description" rows="4" cols="50">{{htmlTemplateData}}</textarea>
                    </div>
                </div>
            </div>
        </modal-body>

        <modal-footer>
            <div>
                <button type="submit" class="btn btn-success" (click)="GenerateProof(fileFrm)" *ngIf="!isSentForApproval">Generate Proof</button>
                <button type="submit" class="btn btn-success" (click)="viewPDF(fileFrm)" *ngIf="isProofGenerated">View Proof</button>
                <button type="submit" class="btn btn-success" (click)="SendForApproval(fileFrm)" *ngIf="isProofGenerated&&!isSentForApproval">Send For Approval</button>
                <a class="btn btn-default" (click)="mygenerateProof.dismiss()">Cancel</a>
            </div>
        </modal-footer>
    </form>
</modal>

<modal #myViewProof>
    <form novalidate [formGroup]="fileFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12 row">
                        <div>
                            <span>Approver Comment*</span>
                            <input type="text" class="form-control" formControlName="ProofComment">
                        </div>
                    </div>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <button type="submit" class="btn btn-success" (click)="ApproveProof(fileFrm)">Approve Proof</button>
                <button type="submit" class="btn btn-danger" (click)="RejectProof(fileFrm)">Reject Proof</button>
                <button type="submit" class="btn btn-info" (click)="viewPDF(fileFrm)">View Proof</button>
                <a class="btn btn-default" (click)="myViewProof.dismiss()">Cancel</a>
            </div>
        </modal-footer>
    </form>
</modal>

<modal #myFinalPrint>
    <form novalidate [formGroup]="fileFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="row">
                <div class="checkbox">
                    <label><input type="checkbox" value="" [(ngModel)]="enableButton" formControlName="isPrintFirstOK" [disabled]="!enablePrintFirstRecordButton">FIRST PRINT OK</label>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <button type="submit" class="btn btn-success" (click)="viewPDF(fileFrm)">View PDF</button>
                <button type="submit" class="btn btn-danger" (click)="PrintFirstRecord(fileFrm)" [disabled]="!enableButton" *ngIf="enablePrintFirstRecordButton">Print First Record</button>
                <button type="submit" class="btn btn-info" (click)="PrintAll(fileFrm)" [disabled]="!enablePrintAllButton">Print All</button>
                <a class="btn btn-default" (click)="myFinalPrint.dismiss()">Cancel</a>
            </div>
        </modal-footer>
    </form>
</modal>
